# Файлы окружения
.env
.env.local
.env.*.local
*.env

# Питон
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Логи
*.log
bot.log

# Базы данных
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp
